.hero-top-bar {
    background-color: var(--color-primary);
    height: 4vh;
    padding: 0 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}

.hero-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 1.2rem;
}

.hero-icons p{
    font-size: 1rem;
}

.hero-icons a {
    margin-top: 0.6vh;
    color: var(--color-white);
    text-decoration: none;
    margin-right: 0.8vh;
}
