
.hero-secondary-top-bar {
    background-color: var(--white);
    height: 16vh;
}

.hero {
    background-color: var(--color-background);
    height: 80vh;
}

.hero-text {}

.hero-secondary-text {}

.hero-button {}